.scroll-table {
  width: 800px;
  background-color: antiquewhite;
  margin: 100px auto;

  .ant-table-thead-two {
    height: 30px !important;
  }
  .ant-table-thead-two > th {
    height: 30px !important;
    padding: 0 16px !important;
    background: blue !important;
  }
}
